<div class="header-reviews-wrapper">
    <a href="https://www.reviews.co.uk/company-reviews/store/the-ideal-sunday" target="_blank">
        <p>
            <span class="header-review-word"></span>
            <span class="product-review-stars header-product-review-stars"></span>
            <span class="header-reviews-average-rating small--hide"></span>
            <!-- <span class="header-reviews-total small--hide"></span> -->
            <!-- <span class="header-reviews-on medium-up--hide"></span> -->
            <span class="header-reviews-image"></span>
        </p>
    </a>
</div> 