<script src="https://widget.reviews.co.uk/badge-modern/dist.js"></script>
<div id="badge-120" style="max-width:120px;"></div>
<script>
    reviewsBadgeModern('badge-120', {
    store: 'the-ideal-sunday',
    primaryClr: 'rgba(255,255,255,.15)',
    starsClr: '#fd4b7f'
    });
</script>

