<div class="reviews-rating-wrapper">
    <a href="https://www.reviews.co.uk/company-reviews/store/the-ideal-sunday" target="_blank">
        <p><b>The Ideal Sunday</b> 
            <span class=" product-review-stars">
                <i class="ruk-icon-full-star-01" style="font-family: 'product-widget-iconfont'"></i>
                <i class="ruk-icon-full-star-01" style="font-family: 'product-widget-iconfont'"></i>
                <i class="ruk-icon-full-star-01" style="font-family: 'product-widget-iconfont'"></i>
                <i class="ruk-icon-full-star-01" style="font-family: 'product-widget-iconfont'"></i>
                <i class="ruk-icon-full-star-01" style="font-family: 'product-widget-iconfont'"></i>
            </span>
        </p>
        <p><span class="average-rating"></span>&nbsp;from&nbsp;<span class="total-reviews"></span>&nbsp;Reviews<img src="{{ 'reviewsio-logo.png' | asset_url }}" alt="Reviews.io Logo"></p>
    </a>
</div>