<div id="BundleSaveModal" class="modal modal--square modal--quick-shop">
  <div class="modal__inner">
    <div class="modal__centered">
      <div class="modal__centered-content">
        <!-- <img class="lazyload js"
              src="https://cdn.shopify.com/s/files/1/0283/1466/5034/files/The-Ideal-Sunday-Logo_a0155ff9-6212-4ca2-8c7a-f53389bf8686.svg?v=1602332605"
              alt="The Ideal Sunday Logo"
              > -->
        <h2>Sunday</h2>
        <p class="h6">Rewards</p>
        <p><b>Spend & Save</b></p>
        <p>Spend £75, Save £5</p>
        <p>Spend £100, Save £10</p>
        <p>Spend £150, Save £20</p>
        <p><small>All with free Express UK Delivery</small></p>
        <hr>
        <span><small>Use codes <b>SAVE5</b>, <b>SAVE10</b> or <b>SAVE20</b> at checkout.</small></span>
        <span><small>Cannot be combined with other discounts.</small></span>
      </div>
      <button type="button" class="modal__close js-modal-close text-link">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><path d="M19 17.61l27.12 27.13m0-27.12L19 44.74"/></svg>
        <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
      </button>
    </div>
  </div>
</div>
