<div class="delivery-wrapper {% unless current_variant.available %} hide{% endunless %}">
    <div>
        <img src="{{ 'icon-delivery-truck-light-square.svg' | asset_url }}" alt="Estimated Delivery">
        <div class='delivery_date_shortcode'></div>
    </div>
    <div class="{% unless current_variant.available %} hide{% endunless %}">
        <img src="{{ 'icon-present-light-square.svg' | asset_url }}" alt="Free Delivery over £40">
        <small>You could earn <a href="#smile-home">
            {{ product.price | divided_by: 100.00 | times: 5 | round }} Sunday Points
        </a></small>
    </div>
</div>


            