<div class="header-reviews-wrapper">
    <a href="https://www.reviews.co.uk/company-reviews/store/the-ideal-sunday" target="_blank">
        <p>
            <span class="header-review-word"></span>
            <span class="product-review-stars header-product-review-stars"></span>
            <!-- <span class="header-average-rating"> -->
            <span class="header-total-reviews">
            </span>&nbsp;&nbsp;<span class="header-reviews-image"></span></p>
    </a>
</div> 