
<div class="bundle-save">
    <img class="js-modal-open-bundle-save" src="{{ 'icon-spend-save.svg' | asset_url }}" alt="Bundle & Save Rewards">
    <p class="bundle-save-title">Spend & Save:</p>
    <p class="bundle-save-message">Spend <span class="bundle-spend-remaining"></span>, Save <span class="bundle-discount-amount"></span></p>
</div>

            